button {
  display: block;
  height: 3rem;
  max-width: 100%;
  padding: 0 2.5rem;
  background-color: $white;
  border: .3rem solid $purple;
  border-radius: 1rem;
  @include font--medium;
  color: $purple;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

button:hover {
  background-color: $purple;
  color: $white;
}