.tile {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50rem;
  background-color: $white;
  border-radius: 1rem 1rem .8rem .8rem;
  @include black-box-shadow(.85);
  
  .tile__image {
    width: 100%;
    height: auto;
    border-radius: .8rem .8rem 0 0;
  }
  .tile__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 3rem 1.5rem;

    .tile__logo {
      position: relative;
      top: -4.5rem;
      left: .5rem; // Slight nudge to match the comps
      height: 9rem; // Forced height so that the offset always works
      margin-bottom: -4.5rem; // Removing empty space below caused by offset
      border-radius: .5rem;
      @include black-box-shadow(.35);
    }
    .tile__button {
      margin-top: 1rem;
    }
    .tile__content-inner {
      width: 100%;
      padding: 1rem;

      .tile__header {
        margin-top: 1rem;
        @include font--large;
      }
      .tile__text {
        @include font--medium;
      }
      .tile__footer {
        @include font--small;
      }
    }
  }
  
  // Active State Change:
  // Adding psychedelic shadow to a pseudo element
  // so that we can transition opacity instead
  // of transitioning box-shadow directly (perf win)
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    @include psychedelic-box-shadow;
    border-radius: 1rem;
  }

  &--active:before {
    opacity: 1;
  }
}