// colors
$purple: #3504bc;
$white: #ffffff;
$light-blue: #2469FF;
$light-grey: #dce1e9;
$dark-grey: rgb(51, 51, 51);

// font sizes
$ft-xsm: 12px;
$ft-sm: 14px;
$ft-md: 16px;
$ft-lg: 24px;
$ft-xlg: 34px;
